#  Tip : 
#  if you are in development mode - include 'build' folder and exclude 'client' folder 
#  if you are in production mode - include 'client' folder and exclude 'build' folder 

node_modules
config/_default.json

build
# client
