
/* 

/css/partials/header.css
/css/partials/footer.css
/css/lib/reset.css
/css/lib/variables.css
/css/lib/helpers.css
/css/index.css

 */



/*******************************************************************************/
/* Footer */ 

footer{
	background-color: white;

	width: 100vw;
	height: 80px;
	padding: 20px 20px;
	position: fixed;
	bottom: 0;
}

footer .container h2 {

	position: relative;
	color: #7085c1;
	margin: auto;
	font-size: xx-large;

}

/*******************************************************************************/





/*******************************************************************************/


/*******************************************************************************/
/* Home Page */


/*******************************************************************************/

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
