
/* Toggle light dark mode */

.toggleLightDarkMode-wrapper  {
	margin: auto auto;
	cursor: pointer;
	min-width:40px;
	margin: 20px auto;

}

 .SunIcon,
 .MoonIcon {
	max-width:40px;
	max-height: 40px;
	position: absolute;
	transform: rotate(0deg);
	transition: all 0.8s ease-out;
}

.SonIcon.Active {
	transform: rotate(0deg);
}

.MoonIcon.Active {
	transform: rotate(-360deg);
}

@media only screen and (max-width: 767px) {
.SunIcon,
 .MoonIcon{
	transform: rotate(0deg);
	transition: all 0.8s ease-out;
	max-height: 30px;
	max-width: 30px;
}

.toggleLightDarkMode-wrapper {
max-width: 20px;
margin:0px auto;
margin-top: 10px;
}

}